p{
    color:#f00;
}
body{
    background: white;
    text-align: center;

}
p{
    background-color : white;
}
h1{
    background-color :white;
}
div_1{
    
}
div{
    margin-left: 300px;
    margin-right: 300px;
}

